body {
  background-color: rgb(250, 244, 236);
}

.postWhole {
  width: 50%;
  margin: auto;
  justify-content: center;
  border-color: rgb(122, 122, 238);
  border-style: solid;
  padding: 5px;
  margin-top: 20px;
  background-color: rgb(233, 233, 233);
}
.postBody {
  padding: 5px;
}
.postAuthor {
  text-align: center;
}

.postContainer {
  margin: auto;
  justify-content: center;
  padding: 5px;
}
